.Container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90vw;
    margin:auto;
}


@media (min-width:950px){
    .Container{
        max-width: 70vw 
    }
}

@media (min-width:1800px){
    .Container{
        max-width: 65vw;
    }
}